[submodule "IsaacLab"]
	path = IsaacLab
	url = https://github.com/isaac-sim/IsaacLab.git
[submodule "isaacsim"]
	path = isaacsim
	url = https://github.com/isaac-sim/IsaacSim.git
[submodule "assets/piper_isaac_sim"]
	path = assets/piper_isaac_sim
	url = https://github.com/agilexrobotics/piper_isaac_sim.git
[submodule "ref/Agilex-College"]
	path = ref/Agilex-College
	url = https://github.com/agilexrobotics/Agilex-College.git
[submodule "ref/piper_sdk"]
	path = ref/piper_sdk
	url = https://github.com/agilexrobotics/piper_sdk.git
